import(LS2W)
import(RandomFields)
import(geoR)
import(matrixStats) 
import(spdep)

S3method(plot, imageQT) 
S3method(print, TOS2D) 
S3method(summary, TOS2D) 
S3method(print, imageQT) 
export(plot.imageQT)
export(print.TOS2D)
export(summary.TOS2D)
export(print.imageQT) 
export(compareImages, imageQT,countTextures)
export(cropimage,mix2images)
export(simTexture, lincurve, scurve)   
export(avespecvar,TOS2D)     
export(plotmtx)
export(getpval)
importFrom("graphics", "segments")
importFrom("graphics", "image")
importFrom("stats", "medpolish", "rnorm")
